In [ ]:
import pandas as pd
from preprocessor import preprocess

ImportError: cannot import name 'preprocess1' from 'preprocessor' (/Users/sergegribo/Desktop/ML/git_hackaton/Hackathon-DigitalDepartment-Wildberris-2025/training_folder/preprocessor.py)

In [27]:
df = pd.read_csv('df_test.csv')

In [28]:
df.drop('target', axis=1, inplace=True)

In [32]:
df['CreatedDate'] = pd.to_datetime(df['CreatedDate'])
df['order_hour'] = df['CreatedDate'].dt.hour
df.drop('CreatedDate', axis=1, inplace=True)
df.drop(columns=['nm_id', 'user_id'], inplace=True)

In [33]:
df.head()

,service,total_ordered,PaymentType,IsPaid,count_items,unique_items,avg_unique_purchase,is_courier,NmAge,Distance,DaysAfterRegistration,number_of_orders,number_of_ordered_items,mean_number_of_ordered_items,min_number_of_ordered_items,max_number_of_ordered_items,mean_percent_of_ordered_items,order_hour
0,nnsz,854,CSH,False,0,0,0.00,0,114,913,1078,1,854,854.0,854,854,100.0,16
1,ordo,534,QRS,False,125,33,0.26,0,143,105,2792,5,1062,212.4,88,534,20.0,6
2,ordo,472,CRD,True,0,0,0.00,0,578,94,29,1,472,472.0,472,472,100.0,14
3,ordo,440,CSH,False,2212,9,0.00,0,1928,1849,1349,1,440,440.0,440,440,100.0,14
4,nnsz,400,CSH,False,0,0,0.00,0,43,2331,2168,1,400,400.0,400,400,100.0,8

In [57]:
one_line = df.loc[:0]

In [58]:
one_line

,service,total_ordered,PaymentType,IsPaid,count_items,unique_items,avg_unique_purchase,is_courier,NmAge,Distance,DaysAfterRegistration,number_of_orders,number_of_ordered_items,mean_number_of_ordered_items,min_number_of_ordered_items,max_number_of_ordered_items,mean_percent_of_ordered_items,order_hour
0,nnsz,854,CSH,False,0,0,0.0,0,114,913,1078,1,854,854.0,854,854,100.0,16

In [59]:
one_line.to_csv('test_data.csv', index=False)

In [60]:
df_new = pd.read_csv('test_data.csv')

In [61]:
df_new

,service,total_ordered,PaymentType,IsPaid,count_items,unique_items,avg_unique_purchase,is_courier,NmAge,Distance,DaysAfterRegistration,number_of_orders,number_of_ordered_items,mean_number_of_ordered_items,min_number_of_ordered_items,max_number_of_ordered_items,mean_percent_of_ordered_items,order_hour
0,nnsz,854,CSH,False,0,0,0.0,0,114,913,1078,1,854,854.0,854,854,100.0,16

In [62]:
import pickle
with open('/Users/sergegribo/Desktop/ML/git_hackaton/Hackathon-DigitalDepartment-Wildberris-2025/our-flask-app/сatboost.pkl', "rb") as f:
    model = pickle.load(f)

In [63]:
print(type(model))

<class 'catboost.core.CatBoostClassifier'>

In [64]:
print(type(df_new))

<class 'pandas.core.frame.DataFrame'>

In [65]:
preds = model.predict(df_new)

CatBoostError: /Users/zomb-ml-platform-msk/go-agent-21.2.0/pipelines/BuildMaster/catboost.git/catboost/libs/data/model_dataset_compatibility.cpp:81: At position 1 should be feature with name IsPaid (found total_ordered).